@model WebApplication2.Models.GhoomoDbContext
@{
    ViewBag.Title = "Scrapbook";
}

<!DOCTYPE html>
<head>
    <link href="~/Scripts/bootstrap.min.js" rel="stylesheet" />
</head>
<body>
    <div class="container">

        @using (Html.BeginForm("Scrapbook", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <div class="form-group">
                
                <label>Upload picture</label>
                <div class="input-group">
                    @Html.TextBox("picture", "", new { type = "file" })<br />
                    <input type="submit" value="Upload picture" />
                </div>
                <label>Tag</label>
                <div class="input-group">
                    @Html.TextBox("tag", "");
                </div>
            </div>
        }
    </div>
    
    <h2>Scrapbook</h2>
    <div class="container">
        @foreach (var sb in Model.scrabbooks)
        {
            <div class="col-lg-3 col-md-4 col-sm-6">

                <div class="block1 hov-img-zoom pos-relative m-b-30">
                    <img src="@Url.Content(sb.image)" alt="">

                    <div class="caption">
                        <p>@sb.tag</p>
                    </div>
                </div>
            </div>
        }
    </div>


</body>

<script src="~/Scripts/jquery-3.3.1.min.js"></script>




